/* You can add global styles to this file, and also import other style files */
@use "colors" as colors;
@import "@angular/material/prebuilt-themes/cyan-orange.css";

html, body { height: 100%; }
body {
  margin: 0; font-family: "Space Mono", monospace;
  color: colors.$hj-silver;
}
